<div class="main-body error-image h-100">

    <!-- Loader
    <div id="global-loader">
        <img src="../assets/images/loader.svg" class="loader-img" alt="">
    </div> -->

    <!-- Page -->
    <div class="page page-h">
        <div class="page-content z-index-10">
            <div class="container text-center">
                <div class="display-1 text-white mb-5">404</div>
                <h1 class="h2 text-white  mb-3">Page Non Trouver</h1>
                <p class="h4 font-weight-normal mb-7 leading-normal text-white">Oops!!!! La page que vous tentez d'aceder n'existe pas. rerourner vous a l'acceuille</p>
                <a class="btn btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active" >
                    Retour a l'acceuille
                </a>
            </div>
        </div>
    </div>
    <!-- End Page -->
</div>