<!--Footer Section-->
<section class="main-footer">
  <footer class="bg-dark-purple text-white">
      <div class="footer-main">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-12">
                      <h6>À propos</h6>
                      <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                      <p>
                        Nous sommes une équipe mixte constituée de spécialistes des technologies, de l'immobilier et de la construction. 
                        Nous restons à votre  disposition pour vous orienter dans vos différents projets, conformément aux réglementations en vigueur. 
                        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ullamco laboris -->
                      </p>
                      
                  </div>
                  <div class="col-lg-2 col-md-12">
                      <h6>Nos liens rapides</h6>
                      <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                      <ul class="list-unstyled mb-0">
                          <li><a class="cursorPointer" (click)="onRedirect('home')">Acceuil</a></li>
                          <li><a class="cursorPointer" (click)="onRedirect('posts/get-posts-for-rent')">Location</a></li>
                          <li><a class="cursorPointer" (click)="onRedirect('posts/get-posts-for-sale')">Vente</a></li>
                          <li><a class="cursorPointer" (click)="onRedirect('posts/all-plans')">Plans(Construction)</a></li>
                          <li><a class="cursorPointer" (click)="onRedirect('posts/lands')">Terrain</a></li>
                          <li><a (click)="onRedirect('home')">Terms</a></li>
                      </ul>
                  </div>

                  <div class="col-lg-3 col-md-12">
                      <h6>Contact</h6>
                      <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                      <ul class="list-unstyled mb-0">
                          <li>
                              <a href="javascript:;"><i class="fa fa-home mr-3 text-primary"></i> Conakry, Ratoma, Kaporo</a>
                          </li>
                          <li>
                              <a href="mailto:contact@piyole.com"><i class="fa fa-envelope mr-3 text-primary"></i> contact@piyole.com</a>
                          </li>
                          <li>
                              <a href="tel:+224612396739"><i class="fa fa-phone mr-3 text-primary"></i> + 224 612-39-67-39</a>
                          </li>
                          <li>
                              <a href="tel:+224-669-928-153"><i class="fa fa-print.print mr-3 text-primary"></i> + 224 669 928 153</a>
                          </li>
                      </ul>
                      <ul class="list-unstyled list-inline mt-3">
                          <li class="list-inline-item">
                              <a href="https://www.facebook.com/profile.php?id=100089773122431" target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                  <i class="fa fa-facebook bg-facebook"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://twitter.com/PiyoleApp" target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                  <i class="fa fa-twitter bg-info"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="mailto:contact@piyole.com" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                  <i class="fa fa-google-plus bg-danger"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.linkedin.com/in/piyole-immo-809524270" target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                  <i class="fa fa-linkedin bg-linkedin"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-4 col-md-12">
                      <!-- <h6>News Letters</h6>
                      <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                      <div class="clearfix"></div>
                      <div class="input-group w-100">
                          <input type="text" class="form-control br-tl-3  br-bl-3 " placeholder="Email">
                          <div class="input-group-append ">
                              <button type="button" class="btn btn-primary br-tr-3  br-br-3"> Souscrire </button>
                          </div>
                      </div> -->
                      <h6 class="mb-0 mt-5">Payements</h6>
                      <hr class="deep-purple  text-primary accent-2 mb-2 mt-3 d-inline-block mx-auto">
                      <div class="clearfix"></div>
                      <ul class="footer-payments">
                          <li class="pl-0"><a href="javascript:;"><i class="fa fa-cc-amex text-muted"
                                      aria-hidden="true"></i></a></li>
                          <li><a href="javascript:;"><i class="fa fa-cc-visa text-muted" aria-hidden="true"></i></a>
                          </li>
                          <li><a href="javascript:;"><i class="fa fa-credit-card-alt text-muted"
                                      aria-hidden="true"></i></a></li>
                          <li><a href="javascript:;"><i class="fa fa-cc-mastercard text-muted"
                                      aria-hidden="true"></i></a></li>
                          <li><a href="javascript:;"><i class="fa fa-cc-paypal text-muted" aria-hidden="true"></i></a>
                          </li>
                      </ul>
                      <p>
                        Vous avez un projet de construction ? 
                        Vous cherchez un plan de construction à votre convenance ?
                        Jetez un coup d'œil aux différents plans que nous vous proposons et obtenez un devis sur demande !
                        <!-- Duis aute irure dolor in reprehenderit in voluptate velit esse cillum . -->
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="bg-dark-purple text-white p-0">
          <div class="container">
              <div class="row d-flex">
                  <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center ">
                      Copyright © 2025 <a href="javascript:;" class="fs-14 text-primary">Piyole</a>. Developper par <a href="javascript:;" class="fs-14 text-primary">Piyole</a> Tout les droits reservés.
                  </div>
              </div>
          </div>
      </div>
  </footer>
</section>
<!--Footer Section-->