<!--Sliders Section-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/im-login.jpeg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">Réinitialisation du mot de passe</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Acceuil</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                        <li class="breadcrumb-item active text-white" aria-current="page">Réinitialisation</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Sliders Section-->

<!--Login-Section-->
<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-md-12 register-right">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="single-page  w-100  p-0">
                                    <div class="wrapper wrapper2">
                                        <form id="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-body" tabindex="500">
                                            <h3 class="pb-2">Réinitialisation du mot de passe</h3>
                                            <div class="passwd">
                                                <input type="password" placeholder="Mot de passe" formControlName="password">
                                                <label>Nouveaux mot de passe</label>
                                            </div>
                                            <div class="tel">
                                                <input type="number" formControlName="random" placeholder="Code reçus">
                                                <label>Code</label>
                                            </div>
                                            <!-- <span *ngIf="passwordIncorect"><span class="text-danger">Identifiant incorrecte!!</span></span><br> -->

                                            <div class="submit">
                                                <button class="btn btn-primary btn-block {{ etatPadding ? 'btn-loading' : '' }}" [disabled]="loginForm.invalid || etatPadding">Connexion</button>
                                            </div>
                                            <!-- <p class="mb-2"><span style="color: black;">Mot de passe <span (click)="onClick()" class="text-danger cursorPointer">oublié?</span></span></p> -->
                                            <p class="text-dark mb-0">Je me <a [routerLink]="['/users/login']" routerLinkActive="router-link-active"  class="text-primary ml-1">souviens</a></p>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Login-Section-->
