<div class="card">
    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
    <div class="card-header">
        <div class="card-title">Modification du mot de passe</div>
        <div class="card-options">
            <button type="button" (click)="dialogRef.close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label">Ancien mot de passe</label>
                <input type="password" formControlName="password" class="form-control {{ getPasswordError() ? 'is-invalid state-invalid' : getPasswordSuccess() ? 'is-valid state-valid' : '' }}" id="exampleInputEmail11"  placeholder="******">
                <span *ngIf="getPasswordError()" class="text text-danger"><small>{{ getPasswordError() }}</small></span>
            </div>
            <div class="form-group">
                <label class="form-label">
                    Nouveau mot de passe
                </label>
                <input class="{{ getNewPasswordError() ? 'is-invalid' : getNewPasswordSuccess() ? 'is-valid' : '' }} form-control" placeholder="******" type="password" formControlName="newPassword">
                <span *ngIf="getNewPasswordError()" class="text text-danger"><small>{{ getNewPasswordError() }}</small></span>

            </div>

            <div class="form-footer">
                <button type="submit" [disabled]="controlForm.invalid || etatPadding" class="btn btn-primary btn-block {{ etatPadding ? 'btn-loading' : '' }} mr-1">Modifier</button>
            </div>
        </form>
    </div>
</div>