<div class="card">
    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
    <div class="card-header">
        <div class="card-title">Payement du Montant</div>
        <div class="card-options">
            <button type="button" (click)="dialogRef.close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label">Montant Livraison</label>
                <input type="number"  formControlName="mont_pay" class="form-control {{ getMontError() ? 'is-invalid state-invalid' : getMontSuccess() ? 'is-valid state-valid' : '' }}" id="exampleInputEmail11"  placeholder="Montant de la livraison.">
                <span *ngIf="getMontError()" class="text text-danger"><small>{{ getMontError() }}</small></span>
            </div>
            

            <div class="form-footer">
                <button type="submit" [disabled]="controlForm.invalid || etatPadding" class="btn btn-primary btn-block {{ etatPadding ? 'btn-loading' : '' }} mr-1">Valider</button>
            </div>
        </form>
    </div>
</div>