<app-nav-bar [subTitle]="'Locations et ventes'"></app-nav-bar>
<section class="sptb"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="100"
(scrolled)="onScroll()"
[scrollWindow]="true"
>
      <!--Latest Ads-->
  <section class="sptb bg-white">
    <div class="container ">
        <div class="section-title center-block text-center">
            <h1>Location et Vente des Terrains, Maisons(Duplex, Appartement,...) en Guinée Conakry</h1>
            <p>Scrollez pour voir l'ensemble des publications des différentes agences !! Vous y trouverez votre goût. 👌</p>
        </div>
        <div class="row">
          <app-show-posts [posts]="posts" [chimer]="chimer"></app-show-posts>
        </div>
    </div>
  </section>
</section>