<div class="card">
    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
    <div class="card-header">
        <div class="card-title">
            Ajout au Panier <br>
            <div *ngIf="quantity_event">
                <span style="font-size: 10px;">
                    Quantitée: 
                    <span class="text-danger">
                        {{ quantity_event }}
                        <span>
                            {{ shop?.unite }}
                        </span>
                    </span>
                </span>,
                <span style="font-size: 10px;">
                    Montant Total: 
                    <span class="text-danger">
                        {{ print.printPrice(total_price_event) }} FG
                    </span>
                </span>,
            </div>
            <!-- <span style="font-size: 11px;">Quantitée: </span><br>
            <span style="font-size: 11px;">Prix Unitaire: </span><br>
            <span style="font-size: 11px;">Prix Total: </span><br>
            <span style="font-size: 11px;">Livraison: </span><br>
            <span style="font-size: 11px;">Payement: à la livraison</span> -->
        </div>
        
        <div class="card-options">
            <button type="button" (click)="dialogRef.close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
           
            <div class="form-group">
                <label class="form-label">Quantitée</label>
                <input type="number" (keyup)="changeEvent($event)" formControlName="quantity" class="form-control" id="exampleInputEmail11"  placeholder="La Quantitée que vous souhaiter.">
                <!-- <span *ngIf="getTelError()" class="text text-danger"><small>{{ getTelError() }}</small></span> -->
            </div>
            <!-- <div class="form-group">
                <label class="form-label">Adresse Livraison</label>
                <input type="text" formControlName="adress" class="form-control" id="exampleInputEmail11"  placeholder="Adresse de la livraison.">
            </div> -->
            <!-- <div class="form-group">
               
            </div> -->
            <div class="form-group">
                <label class="form-label">
                    Description
                </label>
                <textarea class="form-control" formControlName="desc" rows="3" placeholder="Plus de detail..."></textarea>
            </div>
            <label for="livraison"><input type="checkbox" disabled name="" checked id="">  Payement à la livraison</label>


            <div class="form-footer">
                <button type="submit" [disabled]="controlForm.invalid || etatPadding" class="btn btn-primary btn-block {{ etatPadding ? 'btn-loading' : '' }} mr-1">Valider</button>
            </div>
        </form>
    </div>
</div>