<app-nav-bar></app-nav-bar>
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-12 col-md-12">
        <app-left-nav></app-left-nav>
      </div>
      <div class="col-xl-9 col-lg-12 col-md-12">
        <div class="card mb-0">
          <div class="card-header">
            <h3 class="card-title">My Ads</h3>
            <div class="card-options">
              <span (click)="whatPost()" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Quel Client?</span>
              <span (click)="whatPost()" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Quel Contrat?</span>
              <span (click)="whatPost()" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Quel Post?</span>
              <a routerLink="../add-post" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Ajouter</a>
            </div>
          </div>
          <div class="card-body">
            <div class="ads-tabs">
              
              <div class="tab-content">
                <div class="tab-pane active table-responsive border-top userprof-tab" id="tab1">
                  <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>ID POST</th>
                        <th>TYPE</th>
                        <th>Montant(GNF)</th>
                        <th>CAUTION(GNF)</th>
                        <th>Date</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let contrat of contrats">
                        <td>
                            {{ contrat.contratId }}  
                        </td>
                        <td>{{ contrat.post_id?.postId }}</td>
                        <td>
                          <span class="badge badge-{{ contrat.post_id?.type == 0 ? 'primary' : 'info' }}">{{ contrat.post_id?.type == 0 ? 'Location' : 'Vente' }}</span>

                        </td>
                        <td>
                          {{ print.printPrice(contrat.montant) }}
                        </td>
                        <td>
                          {{ print.printPrice(contrat.caution) }}
                        </td>
                        <td>
                          {{ contrat.createdAt | date }}
                        </td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                            </button>
                            <div class="dropdown-menu">
                            <a *ngIf="contrat.post_id?.type == 0 && contrat.type_contrat != 2" class="dropdown-item cursorPointer" [routerLink]="['../../contrats/payements-contrat-client', contrat._id]" >Payements</a>
                            <span class="dropdown-item cursorPointer" >Detail Post</span>
                            </div>
                        </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>