<div class="card">
    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
    <div class="card-header">
        <div class="card-title">Liste des produits du commande</div>
        <div class="card-options">
            <button type="button" (click)="dialogRef.close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">REF</th>
                <th scope="col">PRODUIT</th>
                <th scope="col">PRIX UNITAIRE(FG)</th>
                <th scope="col">QUANTITÉE</th>
                <th scope="col">PRIX TOTAL(FG)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <th scope="row">{{ product.productId }}</th>
                <td>{{ product.title }}</td>
                <td>{{ print.printPrice(product.unit_price) }}</td>
                <td>{{ product.quantity }} {{ product.unite }}</td>
                <td>{{ print.printPrice(product.total_price) }}</td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>