<app-nav-bar [subTitle]="'Tableaux de bord'"></app-nav-bar>
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-12 col-md-12">
        <app-left-nav></app-left-nav>
      </div>
      <div class="col-xl-9 col-lg-12 col-md-12 desktop-only">
        <div class="card mb-0">
          <div class="card-header">
            <h3 class="card-title">Mes publications</h3>
            <div class="card-options">
              <!-- <span (click)="whatPost()" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Quel Client?</span> -->
              <!-- <span (click)="whatPost()" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Quel Contrat?</span> -->
              <span (click)="whatPost()" class="btn btn-sm btn-secondary mr-2"><i class="icon fa fa-search mr-1"></i> Recherche Post</span>
              <a [routerLink]="['../../shops/products-liste']" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-list mr-1"></i> Liste Produits</a>
              <!-- <a routerLink="../add-post" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Ajouter</a> -->
              <!-- <a routerLink="../add-plan" class="btn btn-sm btn-secondary mr-2"><i class="icon icon-plus mr-1"></i> Ajouter un plan</a> -->
              <span>
                <div class="dropdown">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="icon icon-plus mr-1"></i>  Publication
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="../add-post" style="color: black;">Location</a>
                    <a class="dropdown-item" routerLink="../add-post-sale" style="color: black;">Vente</a>
                    <a class="dropdown-item" routerLink="../add-terrain" style="color: black;">Terrain</a>
                    <a class="dropdown-item" routerLink="../add-plan" style="color: black;">Plan</a>
                    <a class="dropdown-item cursorPointer" (click)="redirectRoutes('shops/add-product')" style="color: black;">Materiaux de construction</a>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <div class="card-body">
            <div class="ads-tabs">
              <div class="tabs-menus">
                <!-- Tabs -->
                <ul class="nav panel-tabs">
                  <li class=""><a href="#tab1" (click)="all()" class="active" data-toggle="tab">Total ({{ posts_gards.length }})</a></li>
                  <li><a href="#tab2" (click)="onPublie()" data-toggle="tab">Publié ({{ postValides.length }})</a></li>
                  <li><a href="#tab3" (click)="onVerification()" data-toggle="tab">Verification ({{ postVerifications.length }})</a></li>
                  <li><a href="#tab4" (click)="onLoc()"  data-toggle="tab">Location ({{ postLocations.length }})</a></li>
                  <li><a href="#tab5" (click)="onVente()"  data-toggle="tab">Vente ({{ postVentes.length }})</a></li>
                  <li><a href="#tab6" (click)="onPlans()"data-toggle="tab"><small>Plan ({{ plans.length }})</small></a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active table-responsive border-top userprof-tab {{ posts.length < 3 ? 'botom_card' : '' }}" id="tab1">
                  <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Intitulé</th>
                        <th>Categorie</th>
                        <th>Prix(GNF)</th>
                        <th>Statut</th>
                        <th>Vues</th>
                        <th>Contacts</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let post of posts | paginate:{ itemsPerPage: 10, currentPage: p}">
                        <td>
                            {{ post.postId }}  
                        </td>
                        <td>
                          <div class="media mt-0 mb-0">
                            <div class="card-aside-img">
                              <!-- <a (click)="onDetail(post._id)"></a> -->
                              <img src="{{ print.printImage(post?.images[0]) }}" class="radius_border" alt="img">
                            </div>
                            <div class="media-body">
                              <div class="card-item-desc ml-4 p-0 mt-2">
                                <a (click)="onDetail(post._id)" class="text-dark"><h4 class="font-weight-semibold">{{ post.title }}</h4></a>
                                <a (click)="onDetail(post._id)"><i class="fa fa-clock-o mr-1"></i> {{ post.createdAt | date}}</a><br>
                                <a (click)="onDetail(post._id)"><i class="fa fa-tag mr-1"></i><span class="badge badge-{{ print.getTypePostColor(post.type) }}">{{ print.getTypePost(post.type) }}</span> <small *ngIf="post.type == 2 && post.status_devi == 1" class="text-warning">(validation devi...)</small><small *ngIf="post.type == 2 && post.status_devi == 2" class="text-success">(Construction)</small></a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{ post.categorie }}</td>
                        <td class="font-weight-semibold fs-16">
                          <span>{{ post.prix }} </span>
                          <span *ngIf="post.discut"> À discuter</span>

                        </td>
                        <td>
                          <span  class="badge badge-{{ post.active ? 'success' : 'warning'}}">{{ print.getActice(post.active) }}</span>
                        </td>
                        <td>{{ post.seen }}</td>
                        <td>
                          <span >{{ countContact(post) }}</span>
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <span *ngIf="post?.type == 2" class="dropdown-item cursorPointer" (click)="onAddDevis(post)">{{ post?.pdf ? 'Modifier le devis' : 'Ajout le Devis' }}</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onGetDevis(post)">Voir le dvis</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onDeletePdf(post)">Supprimer le dvis</span>
                              <a *ngIf="post?.type == 0" class="dropdown-item" [routerLink]="['../../posts/update-post', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie != 'Terrain'" class="dropdown-item" [routerLink]="['../../posts/update-post-sale', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 2" class="dropdown-item" [routerLink]="['../update-plan', post?._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie == 'Terrain'" class="dropdown-item" [routerLink]="['../update-terrain', post?._id]">Modifier</a>
                              <a class="dropdown-item cursorPointer" (click)="onDetail(post._id)">Detail</a>
                              <span class="dropdown-item cursorPointer" (click)="onCancel(post)">Annuler</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <pagination-controls (pageChange)="p = $event" previousLabel="précédent" nextLabel="Suivant" ></pagination-controls> -->

                </div>
                <div class="tab-pane  table-responsive border-top userprof-tab {{ posts.length < 3 ? 'botom_card' : '' }}" id="tab2">
                  <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Intitulé</th>
                        <th>Categorie</th>
                        <th>Prix(GNF)</th>
                        <th>Statut</th>
                        <th>Contacts</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let post of posts | paginate:{ itemsPerPage: 10, currentPage: p}">
                        <td>
                            {{ post.postId }}  
                        </td>
                        <td>
                          <div class="media mt-0 mb-0">
                            <div class="card-aside-img">
                              <a (click)="onDetail(post._id)"></a>
                              <img src="{{ print.printImage(post?.images[0]) }}" class="radius_border" alt="img">
                            </div>
                            <div class="media-body">
                              <div class="card-item-desc ml-4 p-0 mt-2">
                                <a (click)="onDetail(post._id)" class="text-dark"><h4 class="font-weight-semibold">{{ post.title }}</h4></a>
                                <a (click)="onDetail(post._id)"><i class="fa fa-clock-o mr-1"></i> {{ post.createdAt | date}}</a><br>
                                <a (click)="onDetail(post._id)"><i class="fa fa-tag mr-1"></i><span class="badge badge-{{ print.getTypePostColor(post.type) }}">{{ print.getTypePost(post.type) }}</span> <small *ngIf="post.type == 2 && post.status_devi == 1 && post.pdf" class="text-warning">(validation devi...)</small><small *ngIf="post.type == 2 && post.status_devi == 2" class="text-success">(Construction)</small></a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{ post.categorie }}</td>
                        <td class="font-weight-semibold fs-16">
                          <span>{{ post.prix }} </span>
                          <span *ngIf="post.discut"> À discuter</span>
                        </td>
                        <td>
                          <span  class="badge badge-{{ post.active ? 'success' : 'warning'}}">{{ print.getActice(post.active) }}</span>
                        </td>
                        <td>
                          <a (click)="onDetail(post._id)" >{{ countContact(post) }}</a>
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <span *ngIf="post?.type == 2" class="dropdown-item cursorPointer" (click)="onAddDevis(post)">{{ post?.pdf ? 'Modifier le devis' : 'Ajout le Devis' }}</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onGetDevis(post)">Voir le dvis</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onDeletePdf(post)">Supprimer le dvis</span>
                              <a *ngIf="post?.type == 0" class="dropdown-item" [routerLink]="['../../posts/update-post', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie != 'Terrain'" class="dropdown-item" [routerLink]="['../../posts/update-post-sale', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 2" class="dropdown-item" [routerLink]="['../update-plan', post?._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie == 'Terrain'" class="dropdown-item" [routerLink]="['../update-terrain', post?._id]">Modifier</a>
                              <a class="dropdown-item cursorPointer" (click)="onDetail(post._id)">Detail</a>
                              <span class="dropdown-item cursorPointer" (click)="onCancel(post)">Annuler</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <pagination-controls (pageChange)="p = $event" previousLabel="précédent" nextLabel="Suivant" ></pagination-controls> -->

                </div>
                <div class="tab-pane  table-responsive border-top userprof-tab {{ posts.length < 3 ? 'botom_card' : '' }}" id="tab3">
                  <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Intitulé</th>
                        <th>Categorie</th>
                        <th>Prix(GNF)</th>
                        <th>Statut</th>
                        <th>Contacts</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let post of posts | paginate:{ itemsPerPage: 10, currentPage: p}">
                        <td>
                            {{ post.postId }}  
                        </td>
                        <td>
                          <div class="media mt-0 mb-0">
                            <div class="card-aside-img">
                              <a (click)="onDetail(post._id)"></a>
                              <img src="{{ print.printImage(post?.images[0]) }}" class="radius_border" alt="img">
                            </div>
                            <div class="media-body">
                              <div class="card-item-desc ml-4 p-0 mt-2">
                                <a (click)="onDetail(post._id)" class="text-dark"><h4 class="font-weight-semibold">{{ post.title }}</h4></a>
                                <a (click)="onDetail(post._id)"><i class="fa fa-clock-o mr-1"></i> {{ post.createdAt | date}}</a><br>
                                <a (click)="onDetail(post._id)"><i class="fa fa-tag mr-1"></i><span class="badge badge-{{ print.getTypePostColor(post.type) }}">{{ print.getTypePost(post.type) }}</span> <small *ngIf="post.type == 2 && post.status_devi == 1" class="text-warning">(validation devi...)</small><small *ngIf="post.type == 2 && post.status_devi == 2" class="text-success">(Construction)</small></a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{ post.categorie }}</td>
                        <td class="font-weight-semibold fs-16">
                          <span>{{ post.prix }} </span>
                          <span *ngIf="post.discut"> À discuter</span>
                        </td>
                        <td>
                          <span  class="badge badge-{{ post.active ? 'success' : 'warning'}}">{{ print.getActice(post.active) }}</span>
                        </td>
                        <td>
                          <a (click)="onDetail(post._id)" >{{ countContact(post) }}</a>
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <span *ngIf="post?.type == 2" class="dropdown-item cursorPointer" (click)="onAddDevis(post)">{{ post?.pdf ? 'Modifier le devis' : 'Ajout le Devis' }}</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onGetDevis(post)">Voir le dvis</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onDeletePdf(post)">Supprimer le dvis</span>
                              <a *ngIf="post?.type == 0" class="dropdown-item" [routerLink]="['../../posts/update-post', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie != 'Terrain'" class="dropdown-item" [routerLink]="['../../posts/update-post-sale', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 2" class="dropdown-item" [routerLink]="['../update-plan', post?._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie == 'Terrain'" class="dropdown-item" [routerLink]="['../update-terrain', post?._id]">Modifier</a>
                              <a class="dropdown-item cursorPointer" (click)="onDetail(post._id)">Detail</a>
                              <span class="dropdown-item cursorPointer" (click)="onCancel(post)">Annuler</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <pagination-controls (pageChange)="p = $event" previousLabel="précédent" nextLabel="Suivant" ></pagination-controls> -->

                </div>
                <div class="tab-pane  table-responsive border-top userprof-tab {{ posts.length < 3 ? 'botom_card' : '' }}" id="tab4">
                  <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Intitulé</th>
                        <th>Categorie</th>
                        <th>Prix(GNF)</th>
                        <th>Statut</th>
                        <th>Contacts</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let post of posts | paginate:{ itemsPerPage: 10, currentPage: p}">
                        <td>
                            {{ post.postId }}  
                        </td>
                        <td>
                          <div class="media mt-0 mb-0">
                            <div class="card-aside-img">
                              <a (click)="onDetail(post._id)"></a>
                              <img src="{{ print.printImage(post?.images[0]) }}" class="radius_border" alt="img">
                            </div>
                            <div class="media-body">
                              <div class="card-item-desc ml-4 p-0 mt-2">
                                <a (click)="onDetail(post._id)" class="text-dark"><h4 class="font-weight-semibold">{{ post.title }}</h4></a>
                                <a (click)="onDetail(post._id)"><i class="fa fa-clock-o mr-1"></i> {{ post.createdAt | date}}</a><br>
                                <a (click)="onDetail(post._id)"><i class="fa fa-tag mr-1"></i><span class="badge badge-{{ print.getTypePostColor(post.type) }}">{{ print.getTypePost(post.type) }}</span></a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{ post.categorie }}</td>
                        <td class="font-weight-semibold fs-16">
                          <span>{{ post.prix }} </span>
                          <span *ngIf="post.discut"> À discuter</span>
                        </td>
                        <td>
                          <span  class="badge badge-{{ post.active ? 'success' : 'warning'}}">{{ print.getActice(post.active) }}</span>
                        </td>
                        <td>
                          <a (click)="onDetail(post._id)" >{{ countContact(post) }}</a>
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <span *ngIf="post?.type == 2" class="dropdown-item cursorPointer" (click)="onAddDevis(post)">{{ post?.pdf ? 'Modifier le devis' : 'Ajout le Devis' }}</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onGetDevis(post)">Voir le dvis</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onDeletePdf(post)">Supprimer le dvis</span>
                              <a *ngIf="post?.type == 0" class="dropdown-item" [routerLink]="['../../posts/update-post', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie != 'Terrain'" class="dropdown-item" [routerLink]="['../../posts/update-post-sale', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 2" class="dropdown-item" [routerLink]="['../update-plan', post?._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie == 'Terrain'" class="dropdown-item" [routerLink]="['../update-terrain', post?._id]">Modifier</a>
                              <a class="dropdown-item cursorPointer" (click)="onDetail(post._id)">Detail</a>
                              <span class="dropdown-item cursorPointer" (click)="onCancel(post)">Annuler</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <pagination-controls (pageChange)="p = $event" previousLabel="précédent" nextLabel="Suivant" ></pagination-controls> -->

                </div>
                <div class="tab-pane  table-responsive border-top userprof-tab {{ posts.length < 3 ? 'botom_card' : '' }}" id="tab5">
                  <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Intitulé</th>
                        <th>Categorie</th>
                        <th>Prix(GNF)</th>
                        <th>Statut</th>
                        <th>Contacts</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let post of posts | paginate:{ itemsPerPage: 10, currentPage: p}">
                        <td>
                            {{ post.postId }}  
                        </td>
                        <td>
                          <div class="media mt-0 mb-0">
                            <div class="card-aside-img">
                              <a (click)="onDetail(post._id)"></a>
                              <img src="{{ print.printImage(post?.images[0]) }}" class="radius_border" alt="img">
                            </div>
                            <div class="media-body">
                              <div class="card-item-desc ml-4 p-0 mt-2">
                                <a (click)="onDetail(post._id)" class="text-dark"><h4 class="font-weight-semibold">{{ post.title }}</h4></a>
                                <a (click)="onDetail(post._id)"><i class="fa fa-clock-o mr-1"></i> {{ post.createdAt | date}}</a><br>
                                <a (click)="onDetail(post._id)"><i class="fa fa-tag mr-1"></i><span class="badge badge-{{ print.getTypePostColor(post.type) }}">{{ print.getTypePost(post.type) }}</span></a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{ post.categorie }}</td>
                        <td class="font-weight-semibold fs-16">
                          <span>{{ post.prix }} </span>
                          <span *ngIf="post.discut"> À discuter</span>
                        </td>
                        <td>
                          <span  class="badge badge-{{ post.active ? 'success' : 'warning'}}">{{ print.getActice(post.active) }}</span>
                        </td>
                        <td>
                          <a (click)="onDetail(post._id)" >{{ countContact(post) }}</a>
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <span *ngIf="post?.type == 2" class="dropdown-item cursorPointer" (click)="onAddDevis(post)">{{ post?.pdf ? 'Modifier le devis' : 'Ajout le Devis' }}</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onGetDevis(post)">Voir le dvis</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onDeletePdf(post)">Supprimer le dvis</span>
                              <a *ngIf="post?.type == 0" class="dropdown-item" [routerLink]="['../../posts/update-post', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie != 'Terrain'" class="dropdown-item" [routerLink]="['../../posts/update-post-sale', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 2" class="dropdown-item" [routerLink]="['../update-plan', post?._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie == 'Terrain'" class="dropdown-item" [routerLink]="['../update-terrain', post?._id]">Modifier</a>
                              <a class="dropdown-item cursorPointer" (click)="onDetail(post._id)">Detail</a>
                              <span class="dropdown-item cursorPointer" (click)="onCancel(post)">Annuler</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <pagination-controls *ngIf="postVentes.length > 0" (pageChange)="p = $event" previousLabel="précédent" nextLabel="Suivant" ></pagination-controls> -->

                </div>
                <div class="tab-pane  table-responsive border-top userprof-tab {{ posts.length < 3 ? 'botom_card' : '' }}" id="tab6">
                  <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Intitulé</th>
                        <th>Categorie</th>
                        <th>Prix(GNF)</th>
                        <th>Statut</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let post of posts | paginate:{ itemsPerPage: 10, currentPage: p}">
                        <td>
                            {{ post.postId }}  
                        </td>
                        <td>
                          <div class="media mt-0 mb-0">
                            <div class="card-aside-img">
                              <a (click)="onDetail(post._id)"></a>
                              <img src="{{ print.printImage(post?.images[0]) }}" class="radius_border" alt="img">
                            </div>
                            <div class="media-body">
                              <div class="card-item-desc ml-4 p-0 mt-2">
                                <a (click)="onDetail(post._id)" class="text-dark"><h4 class="font-weight-semibold">{{ post.title }}</h4></a>
                                <a (click)="onDetail(post._id)"><i class="fa fa-clock-o mr-1"></i> {{ post.createdAt | date}}</a><br>
                                <a (click)="onDetail(post._id)"><i class="fa fa-tag mr-1"></i><span class="badge badge-{{ print.getTypePostColor(post.type) }}">{{ print.getTypePost(post.type) }}</span> <small *ngIf="post.type == 2 && post.status_devi == 1" class="text-warning">(validation devi...)</small><small *ngIf="post.type == 2 && post.status_devi == 2" class="text-success">(Construction)</small></a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{ post.categorie }} {{ post.property_id.propertyId }}</td>
                        <td class="font-weight-semibold fs-16">
                          <span>{{ post.prix }} </span>
                          <span *ngIf="post.discut"> À discuter</span>
                        </td>
                        <td>
                          <span  class="badge badge-{{ post.active ? 'success' : 'warning'}}">{{ print.getActice(post.active) }}</span>
                        </td>
                       
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <span *ngIf="post?.type == 2" class="dropdown-item cursorPointer" (click)="onAddDevis(post)">{{ post?.pdf ? 'Modifier le devis' : 'Ajout le Devis' }}</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onGetDevis(post)">Voir le dvis</span>
                              <span *ngIf="post?.type == 2 && post?.pdf" class="dropdown-item cursorPointer" (click)="onDeletePdf(post)">Supprimer le dvis</span>
                              <a *ngIf="post?.type == 0" class="dropdown-item" [routerLink]="['../../posts/update-post', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie != 'Terrain'" class="dropdown-item" [routerLink]="['../../posts/update-post-sale', post._id]">Modifier</a>
                              <a *ngIf="post?.type == 2" class="dropdown-item" [routerLink]="['../update-plan', post?._id]">Modifier</a>
                              <a *ngIf="post?.type == 1 && post?.categorie == 'Terrain'" class="dropdown-item" [routerLink]="['../update-terrain', post?._id]">Modifier</a>
                              <a class="dropdown-item cursorPointer" (click)="onDetail(post._id)">Detail</a>
                              <span class="dropdown-item cursorPointer" (click)="onCancel(post)">Annuler</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              
            </div>
            <pagination-controls (pageChange)="p = $event" previousLabel="précédent" nextLabel="Suivant" [autoHide]=true></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>