<div class="card">
    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
    <div class="card-header">
        <div class="card-title">Raport de travail par vidéo</div>
        <div class="card-options">
            <button type="button" (click)="dialogRef.close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label">Titre*</label>
                <input type="text" formControlName="title" class="form-control {{ getTitleError() ? 'is-invalid state-invalid' : getTitleSuccess() ? 'is-valid state-valid' : '' }}" id="exampleInputEmail11"  placeholder="Titre du raport">
                <span *ngIf="getTitleError()" class="text text-danger"><small>{{ getTitleError() }}</small></span>
            </div>
            <div class="form-row">
             
              <div class="form-group col-md-12">
                <label for="date">Date*</label>
                <input type="date" formControlName="date_raport" class="form-control {{ getDateError() ? 'is-invalid state-invalid' : getDateSuccess() ? 'is-valid state-valid' : '' }}" id="date" placeholder="Date du raport">
                <span *ngIf="getDateError()" class="text text-danger"><small>{{ getDateError() }}</small></span>
              </div>
  
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="videos">Videos</label>
                <input type="file" accept="video/*" name="video" (change)="fileVideoProgress($event)" type="file" class="form-control" >
            </div>
            </div>
          
  
            <div class="form-footer">
                <button type="submit" [disabled]="controlForm.invalid || etatPadding" class="btn btn-primary btn-block {{ etatPadding ? 'btn-loading' : '' }} mr-1">Valider</button>
            </div>
        </form>
    </div>
  </div>