<div class="card">
    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
    <div class="card-header">
        <div class="card-title">Reiinitialisation du mot de passe</div>
        <div class="card-options">
            <button type="button" (click)="dialogRef.close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
            <!-- <div class="form-group">
                <label class="form-label">Telephone</label>
                <input type="number" formControlName="tel" class="form-control {{ getTelError() ? 'is-invalid state-invalid' : getTelSuccess() ? 'is-valid state-valid' : '' }}" id="exampleInputEmail11"  placeholder="Numéro de téléphone">
                <span *ngIf="getTelError()" class="text text-danger"><small>{{ getTelError() }}</small></span>
            </div> -->
            <div class="form-group">
                <label class="form-label">
                    Email
                </label>
                <input class="{{ getEmailError() ? 'is-invalid' : getEmailSuccess() ? 'is-valid' : '' }} form-control" placeholder="Entrez votre email" type="email" formControlName="email">
                <span *ngIf="getEmailError()" class="text text-danger"><small>{{ getEmailError() }}</small></span>

            </div>

            <div class="form-footer">
                <button type="submit" [disabled]="controlForm.invalid || etatPadding" class="btn btn-primary btn-block {{ etatPadding ? 'btn-loading' : '' }} mr-1">Valider</button>
            </div>
        </form>
    </div>
</div>